
<div class="container">

  <%=  simple_form_for @push_campaign do |f| %>
      <% if @push_campaign.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@push_campaign.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @push_campaign.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>



        <%= f.input :name %>


        <%= f.input :message %>


        <%= f.input :page, collection:  PushCampaign::SCREENS_TO_DISPLAY, include_blank: true %>


        <%= f.input :target_age, collection: PushCampaign::TARGET_AGE_GROUPS, include_blank: true  %>


        <%= f.input :target_gender,collection:  PushCampaign::TARGET_GENDERS, include_blank: true  %>


        <%= f.input :vendor,  collection: PushCampaign::VENDORS, include_blank: true %>


        <%= f.input :language, collection:  PushCampaign::LANGUAGES %>

        <%= f.input :target_users, collection:  PushCampaign::TARGET_USERS,  include_blank: true %>


        <%= f.input :ios_app_version %>

        <%= f.input :android_app_version %>

        <%= f.input :expire_at,  as: :datetime %>

        <%= f.input :delivery_at,  as: :datetime %>
        <%= f.button :submit, class:'btn btn-primary' %>

<% end %>

</div>